body {
	font:400 15px, sans-serif;
	line-height:1.8;
	color:#818181;
}
.navbar {
	margin-bottom:0;
	background-color:#1ABC9C;
	color:white;
	z-index:9999;
	border:0;
	font-size:12px !important;
	line-height:1.42857143 !important;
	border-radius:0px;
	font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar-brand {
	color: #000000 !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
	color:#f4511e !important;
	background-color: #fff !important;
}
.navbar-default .navbar-toggle {
	border-color:transparent;
	color: #fff !important;
}
.jumbotron {
	background-image:url(f2.jpg);
	background-size:cover;
	color:#fff;
	padding:100px 25px;
	text-align:center;
	font-family:Montserrat, sans-serif;
}
.carousel .item {
	height:500px;
}
.item img {
	position:absolute;
	top: 0;
	left: 0;
	min-height:500px;
}
.panel-default > .panel-heading-custom {
	background-image:none;
	background-color:#76D7C4;
	color:black;
}
.footer-top {
	background-color:#17A589;
	color:#fff;
	font-family:Montserrat, sans-serif;
	padding:60px;
}
h4 {
	font-size:20px;
}
.panel-title {
	font-size:30px;
	text-align:center;
}
#pagel { 
	margin:100px;
}
.jumbotron1 {
	background-image: url(s1.jpg);
	background-size:100%;
	color:#17202A;
	padding:50px 50px;
	text-align:center;
	font-family:Montserrat, sans-serif;
}
#icon {
	font-size:50px;
	text-align:center;
}
.image {
	float: right;
}
h5{
	font-size:50px;
	text-align:center;
	font-family:sans-serif;
}
	